function atualizar(){

let clientes = Math.floor(Math.random()*100)

let vendas = Math.floor(Math.random()*50)

let faturamento = Math.floor(Math.random()*10000)

document.getElementById("clientes").innerText = clientes

document.getElementById("vendas").innerText = vendas

document.getElementById("faturamento").innerText = "R$ " + faturamento

}

atualizar()
