body{

font-family:Arial;
background:#0d1117;
color:white;
display:flex;
justify-content:center;
margin-top:50px;

}

.dashboard{

text-align:center;

}

.cards{

display:flex;
gap:20px;
margin:20px;

}

.card{

background:#161b22;
padding:20px;
border-radius:10px;
width:150px;

}

button{

padding:10px;
background:#238636;
color:white;
border:none;
cursor:pointer;

}
